{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
 <div class="container text-justify">

    <h1 class="text-center mb-5">Tu cherches une occazzz...c'est par <a href="{{ path('acceuil')}}">ici</a></h1>
    <p class="text-center mb-5"> 
    Le bon plan</br>
    C'est l'endroit où dénicher des vêtements pour hommes, femmes, enfants.</br>
    Tous ce qu'il te faut pour la maison... c'est ici</br>
    Et Trouver quelqu'un de sympa pour de petits travaux pas chers...toujours ici
    </p>
    <img class="rounded" src="../images/servicedepannageapropos.jpg">
    
 </div>
{% endblock %}
