@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');



html,body
{
    min-height: 80vh;
}

.footer
{
    position:absolute;
    margin-bottom: -180px;
    bottom: 0;
}

.rsociaux
{
    font-size: 30px;
    color:white;
}

body
{
    font-family: 'Fira Sans', sans-serif;
    margin-top: 100px;
    min-height: 80vh;
    position:relative;
}

ul li
{
    list-style: none;
    display: inline-block;
}

/* Navbar */
.logo
{
    font-family: 'Oleo Script', cursive;
    font-size: 35px;
   margin-right: 10px;
   color:#c07171;
}

.logo:hover
{
    color:#c07171;
    text-decoration: none;
}

.btnrecherche
{
    background: #FA8072; 
}

.inpbtnrecherche
{
    margin-left: 80px;  
}

.btn1
{
    border:none;
    color: white;
}

ion-icon
{
    font-size: 30px;
    color:#FA8072;
    margin-bottom: -11px;
}

.user a
{
    color: white;
}

h1
{
    color:#BC8F8F;
}

.prix
{
    color:#CD5C5C;
    font-weight: bold;
    font-size: 20px;
}

.titreannonce
{
    font-size: 25px;

}

.images
{
    width:80px;
}

/* Carousel */
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

.imgpub
{
    width:200px;
}

.btn
{
    background: #FA8072;
}

/*Politique de confidentialité*/

h1{
    color:#20B2AA;
}

h3
{
    color:#0489B1;
}

/*a propos*/
.rounded{
    margin-left:300px;
}