@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body 
{
    font-family: 'Indie Flower', cursive;
    margin-top: 100px;
}

/* Navbar */
.logo
{
   width:120px; 
   margin-right: 60px;
}

.btnrecherche
{
    background: #FE65D8; 
}

.inpbtnrecherche
{
    margin-left: 160px;  
}

.btn1
{
    border:none;
    color: white;
}

ion-icon
{
    font-size: 30px;
    color:#FE65D8;
    margin-bottom: -11px;
}

.user a
{
    color: white;
}

h1
{
    color:#FE65D8;
}

.citation
{
    font-weight: 20px;
    margin-top: -20px;
}
.auteur
{
    margin-left: 40px;
    color:#FE65D8;
}



/* Carousel */
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

.btn
{
    background: #FE65D8;
}


.btnbebe
{
    margin-top:-750px;
}

.btndepan
{
    margin-top:-770px;
}

