{% extends 'base.html.twig' %}

{% block title %}Modifier l'annonce{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-5">Modifier l'annonce</h1>

        {{ include('annonce/_form.html.twig', {'button_label': 'Enregistrer'},{'class': 'text-white'}) }}

    </div>
{% endblock %}
