{% extends 'base.html.twig' %}

{% block title %}Déposer une annonce{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-5">Déposer une annonce</h1>
            <div class="col-10 mx-5">
                {{ include('annonce/_form.html.twig') }}
            </div>
    </div>
{% endblock %}
