{% extends 'base.html.twig' %}

{% block title %}Cookies{% endblock %}

{% block body %}
    <div class="container text-justify">

    <h1 class="text-center mb-5">L'utilisation des Cookies</h1>

    <div>
        <p>
        Afin d’adapter les contenus publicitaires, les partenaires de confiance du Bon Plan utilisent des divers cookies. La publicité personnalisée (ainsi que l’utilisation des cookies à des fins de personnalisation publicitaire) sera permise seulement suite à votre accord.</br>
       
        Vous pouvez consulter la liste des partenaires de confiance qui s’occupent de la publicité sur la plateforme Vinted. Veuillez noter que la liste des partenaires de confiance est régulièrement mise à jour (la date de la dernière mise à jour sera toujours indiquée en haut du document). Nous vous recommandons de vous rendre régulièrement sur cette page pour connaître la liste actualisée de nos partenaires publicitaires.</br>

        Les cookies peuvent être utilisés pour mesurer l’efficacité de la publicité, activer la publicité contextuelle et ciblée. Suite à votre permission concernant l’utilisation des cookies, nous analyserons également le profil de l’utilisateur sous son pseudo. Aucune identification personnelle ne sera possible.  Ces technologies de suivi des tiers et leur utilisation ne sont pas sous notre contrôle. Ces fournisseurs de services sont liés par des accords de confidentialité passés avec nous et d’autres limitations juridiques. Les cookies tiers sont couverts par la politique de confidentialité des sites web tiers. Vous trouverez les liens vers notre politique de confidentialité et la description des cookies utilisés par nos partenaires publicitaires dans la liste des partenaires de confiance. Nous communiquons ton accord ou désaccord concernant l’utilisation des cookies et le traitement des données personnelles à des fins de publicité personnalisée à nos Partenaires.</br>

        Veuillez noter que votre accord ou désaccord concernant la publicité personnalisée s’appliquera à toutes les plateformes (android, iOS, Web, etc.).</br>

        Comment refuser le suivi à des fins de publicité personnalisée ?</br>

        - Le suivi sur vos appareils mobiles: vous pouvez désactiver la personnalisation des annonces (et ainsi refuser le suivi à des fins de publicité personnalisée) de votre application Vinted : Profil -> Paramètres -> Permettre la collecte des données et le suivi à des fins de publicité personnalisée.</br>

        - Le suivi dans votre navigateur Web : vous pouvez refuser le suivi à des fins publicitaires : (i) en changeant vos paramètres, si vous êtes un utilisateur enregistré : Profil -> Paramètres -> Permettre la publicité personnalisée; (ii) en installant un cookie opt-out, si vous n’êtes pas un utilisateur enregistré. Le lancement d’un cookie opt-out empêchera la collecte de vos données à des fins de publicité personnalisée quand vous vous rendrez sur le site. Veuillez noter que si vous supprimez tous les cookies sur votre navigateur, le cookie opt-out sera également supprimé.</br>

        Votre décision de retirer votre accord sera appliquée à toutes les plateformes Vinted sur tous les appareils utilisés. Veuillez noter que si vous supprimez tous les cookies sur votre navigateur, le cookie opt-out, qui mémorise vos choix, sera également supprimé.Toutefois la mise à jour des paramètres peut mettre du temps (jusqu’à l’actualisation de l’application) pour fonctionner sur les appareils mobiles.</br>
        </p>
    </div>

    <div>
        <h3>1. Qu’est-ce qu’un cookie ?</h3>
        <p>
        Les cookies sont de petits fichiers texte enregistrés par votre navigateur sur votre appareil (ex. : ordinateur, téléphone portable, tablette) lorsque vous visitez certains sites web. D’autres technologies sont utilisées à des fins similaires, y compris les données que nous enregistrons sur votre navigateur ou appareil, les identifiants associés à votre appareil et autres logiciels. Celles-ci sont largement utilisées pour faire fonctionner les sites web ou pour en améliorer les fonctionnalités. Dans cette politique, nous nous référerons à l’ensemble de ces technologies à travers le terme « cookies ».</br>

        Sauf indication contraire aux présentes, les cookies que nous utilisons sont nécessaires pour garantir le bon fonctionnement et les performances de la plateforme Vinted (la « Plateforme »). Cela inclut les cookies qui vous permettent d’accéder aux zones protégées de notre plateforme, d’acheter un article ou d’utiliser notre système électronique de paiement. La plupart des cookies sont supprimés de votre appareil à la fin de votre session de navigation (cookies de session). Les renseignements enregistrés dans les cookies nécessaires nous serviront uniquement à vous fournir les services et les fonctionnalités demandés.
        </p>
    </div>

    <div>
        <h3>2. Pourquoi utilisons-nous les cookies ?</h3>
        <p>
        Nous utilisons des cookies pour :

        faire fonctionner notre plateforme conformément à vos attentes,
        améliorer la vitesse et la sécurité de notre plateforme,
        vous reconnaître lorsque vous visitez de nouveau notre plateforme. Cela nous permet de personnaliser notre contenu, de vous saluer par votre nom et de mémoriser vos préférences (cookies de fonctionnalité),
        évaluer le nombre de visiteurs de notre plateforme et leurs habitudes de navigation sur le site. Cela nous permet d’améliorer les fonctionnalités de notre plateforme, ex. : en nous assurant que les utilisateurs peuvent trouver ce qu’ils cherchent (cookies d’analyse/de performances)
        identifier votre visite sur notre plateforme, les pages que vous visitez et les liens sur lesquels vous cliquez. Nous utiliserons ces renseignements pour mieux adapter notre plateforme et les publicités qui y sont affichées à vos intérêts. Si vous nous avez donné la permission de vous envoyer des e-mails publicitaires, nous utiliserons également ces renseignements pour personnaliser ceux-ci (cookies de ciblage ou de publicité)
        vous permettre de partager des pages avec vos réseaux sociaux, comme Facebook ou Instagra
        </p>
    </div>

    <div>
        <h3>3. Comment gérer les cookies ?</h3>
        <p>
        Vous pouvez configurer votre navigateur pour refuser certains ou tous les cookies ou pour vous demander l’autorisation avant de les accepter. Veuillez noter que la suppression de ces cookies ou leur désactivation pourra vous empêcher d’accéder à certaines zones ou fonctionnalités de notre site web. Pour plus d’informations sur la manière d’ajuster ou de modifier les paramètres de votre navigateur, veuillez visiter les sites www.aboutcookies.org ou www.allaboutcookies.org.

        Vous pouvez désactiver l’utilisation de certains cookies tiers en vous rendant sur la page de désactivation de la Network Advertising Initiative sur le site http://www.networkadvertising.org/managing/opt_out.asp.

        Vous pouvez activer/désactiver l’utilisation des cookies tiers à des fins de publicité personnalisée. Voir ci-dessus pour en savoir plus.

        Si vous accédez à la plateforme depuis différents appareils (ex. : smartphone, tablette, ordinateur, etc.), vous devrez vous assurer que vos préférences de cookies sont bien configurées sur le navigateur de chaque appareil. Si vous ajustez les paramètres de cookies, les autres sites web que vous visitez pourront également être affectés.
        </p>
    </div>

     <div>
        <h3>4. Quels sont les différents types de cookies ?</h3>
        <p>
        (a)  Cookies strictement nécessaires.

        Ces cookies sont essentiels pour permettre à l’utilisateur de naviguer et d’utiliser les fonctionnalités d’un site web, comme la mémorisation des informations saisies sur les formulaires lorsqu’un utilisateur bascule entre plusieurs pages au sein d’une session de navigation. Sans ces cookies strictement nécessaires, certains services d’un site web peuvent être inaccessibles et les performances du site web peuvent être affectées. Ces cookies ne recueillent aucune information à des fins commerciales et n’enregistrent pas votre historique de navigation sur Internet.</br>

        (b)  Cookies de performances

        Ces cookies recueillent des renseignements sur votre utilisation d’un site web et nous permettent d’améliorer son fonctionnement. Par exemple, les cookies de performances pourront indiquer les pages que vous visitez le plus souvent, nous aider à enregistrer des difficultés rencontrées sur un site et indiquer si les publicités affichées sur un site web sont efficaces ou non. Les cookies de performances ne recueillent pas de renseignements personnels et toutes les informations obtenues par ces cookies sont compilées et anonymes.</br>

        (c)  Cookies de fonctionnalités

        Les cookies de fonctionnalités permettent à un site web de mémoriser vos choix et de vous fournir des fonctionnalités personnelles améliorées. Les cookies de fonctionnalité mémorisent aussi les changements que vous effectuez, comme la personnalisation d’une page web et d’autres services que vous demandez, comme la saisie de commentaires sur notre page web. Les cookies de fonctionnalités ne mémoriseront pas votre activité sur d’autres sites web.</br>

        (d)  Cookies de ciblage ou de publicité

        Les cookies de ciblage ou de publicité sont utilisés pour livrer des publicités mieux adaptées à vos intérêts, ou pour limiter le nombre de fois que la même publicité s’affiche sur un site web. Ces types de cookies servent aussi à mesurer l’efficacité d’une campagne publicitaire. Ces cookies pourront servir à mémoriser les pages que vous avez consultées sur un site web. Voir ci-dessus pour en savoir plus sur la publicité sur Vinted et sur les publicités personnalisées.</br>

        (e)  Cookies tiers

        Lorsque vous utilisez les services en ligne de Vinted, vous pourriez être ciblé par des cookies ou balises web réunissant des informations pour d’autres fournisseurs de service. Ces technologies de suivi des tiers et leur utilisation ne sont pas sous notre contrôle. Ces fournisseurs de services sont liés par des accords de confidentialité passés avec nous et d’autres limitations juridiques. Les cookies tiers sont couverts par la politique de confidentialité des sites web tiers. Voir ci-dessus pour en savoir plus sur les cookies tiers utilisés à des fins de publicités personnalisées.
        </p>
    </div>
    </div>

{% endblock %}
