{% extends 'base.html.twig' %}

{% block title %}Profil {{ app.user.pseudo }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-5">Modifier mes informations : </h1>
        {{ form(form)}}

        <button class="btn"><a href="{{ path('user')}}" class="text-white">Annuler</a></button>

    </div>
{% endblock %}
